.agent
toka.md
Toka*.md
*.bin
*.ll
*.lli
*.log
*.err
*.txt
*.tk-
.DS_Store
.VSCodeCounter/
!CMakeLists.txt
build/
build-linux/
bin/
target/
.toka_build_exe
.toka_build.ll
# Prerequisites
*.d
*_bin

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
include/toka/Version.h
